html {
  font-size: 14px;
}

body {
  margin: 0 auto;
  padding: 0;
  background: #eee;
  font-family: "Consolas", "微软雅黑";
  -webkit-user-select: none;  /* Chrome all / Safari all /opera15+*/  
  -moz-user-select: none;     /* Firefox all */  
  -ms-user-select: none;      /* IE 10+ */  
  user-select: none;  
  max-width: 450px;
  > * {
    max-width: 450px;
  }
}

.hidden {
  display: none;
}
